{% autoescape off %}
Objet : Réinitialisation de votre mot de passe – EasyMarket

Bonjour {{ user.username }},

Vous avez demandé la réinitialisation du mot de passe de votre compte sur EasyMarket.

Veuillez cliquer sur le lien ci-dessous pour choisir un nouveau mot de passe :

🔗 {{ protocol }}://{{ domain }}{% url 'authentification:password_reset_confirm' uidb64=uid token=token %}

Si vous n’êtes pas à l’origine de cette demande, vous pouvez ignorer cet e-mail en toute sécurité.

---

📌 Informations de votre compte :
Nom d’utilisateur : {{ user.username }}
Adresse e-mail : {{ user.email }}

---

Merci pour votre confiance.

Cordialement,
L’équipe EasyMarket
🌐 [www.easymarket.com](http://www.easymarket.com)
📧 contact@easymarket.com

Le marché facile, rapide et à portée de clic.
{% endautoescape %}
